@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{

    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    
}

.box{

    position: absolute;
    top: 30px;
    left: 90%;
    transform: translate(-50%, -50%);
}

input.src{

    padding: 5px 10px 5px 50px;
    outline: none;
    font-size: 18px;
    border-radius: 15px;
    color: #444;
    border: 3px solid #048C73;
    background: #fff url(../recursos/search-icon.png) no-repeat 9px center;
    width: 0px;
	transition: all .5s;
	
}

input.src:hover{

    width: 100px;
    background-color: #fff;
    border-color: gray;
    box-shadow: 0 0 5px #6dcff680;
}

.container{

    width: 100%;
    height: 60px;
    background: #048C73;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    box-sizing: border-box;
    
    
}


.item-options{

    color: white;
    margin: 0 1.5rem;
    text-decoration: none;
    
}

.menu a{

    color:#fff;
    text-decoration: none;
    padding: 20px;
    
}

.menu a:hover{

    background-color: #fff;
    color: #048C73;
    
}

.img{

    background-image: url(../recursos/unlam-medica-100px.png);
    background-color: transparent;
    background-size: auto;
    background-repeat: no-repeat;
    position: absolute;
    float: left;
    left: 20px;
    top: 10px;
    height: 50px;
    width: 100px;
}

.container{

    width: 100%;
    height: 60px;
    background:  #048C73;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    box-sizing: border-box;
    
}

.container_enfermedades{

	margin: 0 auto;
	width: auto;
	display: grid;
	grid-template-columns: 200px 1% 1fr;
    grid-template-rows: auto 15px auto 15px auto;
    
}

nav{

    display: block;
    list-style: none;
}



h2{

	display: block;
	font-size: 1.5em;
	margin-block-start: 0.83em;
	margin-block-end: 00.83em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}
.sidebar{

		padding: 1.2em; 
        background-color: #EEEEEE; 
        list-style: none;
	
}

aside{

    display: block;
}

footer{

	background-color: gray;
    padding: 50px;
    margin-top: 600px;
    color: white;
}

.main{

	grid-column: 3;
	grid-row: 3;
}

.main { 
	padding: 1.2em; 
	background-color: #BBDEFB; 
}

.sidebar {
	grid-column: 1;
    grid-row: 3;
    list-style: none;
  }
  
  .main {
	grid-column: 3;
	grid-row: 3;
  }

  .box_enfermedades{

	position: absolute;
    top: 50%;
    left: 90%;
	transform: translate(-50%, -50%);
	
  }
  

  input.src_enfermedades{

	padding: 5px 10px 5px 50px;
    outline: none;
    font-size: 18px;
    border-radius: 15px;
    color: #444;
    border: 3px solid #048C73;
    background: #fff url(../recursos/search-icon.png) no-repeat 9px center;
	width: max-content;
	
  }

  .encabezado_enfermedades{
	width: 100%;
    height: 60px;
    background: #048C73;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    
  }

  .coronavirus{

    background-image: url(../recursos/SARAMPION.jpg);
    background-repeat: no-repeat;
    display: block;
    padding: 100px;
    background-size: contain;
    
   
  }

  .viruela{

    background-image: url(../recursos/SARAMPION.jpg);
    background-repeat: no-repeat;
    display: block;
    padding: 100px;
    background-size: contain;
  }

  .sarampion{
    
    background-image: url(../recursos/SARAMPION.jpg);
    background-repeat: no-repeat;
    display: block;
    padding: 100px;
    background-size: contain;

  }
