@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{

    background: url(../recursos/imagen-fondo.png) no-repeat;
    
}


.box{

    position: absolute;
    top: 30px;
    left: 90%;
    transform: translate(-50%, -50%);
    
}
input.src{

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 10px;
    border-radius: 15px;
    font-size: 15px;
    border: 3px solid #048C73;
    background: #fff url(../recursos/search-icon.png) no-repeat 9px center;
    width: 0px;
    transition: all .5s;
    text-align: start;
	
}
input.src:hover{

    width: 100px;
    background-color: #fff;
    border-color: gray;
    box-shadow: 0 0 5px white;
}

.container{

    width: 100%;
    height: 60px;
    background: #048C73;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    
}


.item-options{

    color: white;
    margin: 0 1.5rem;
    text-decoration: none;
    
}

.menu a{

    color:#fff;
    text-decoration: none;
    padding: 20px;
    
}

.menu a:hover{

    background-color: #fff;
    color: #048C73;
    
}

.img{

    background-image: url(../recursos/unlam-medica-100px.png);
    background-color: transparent;
    background-size: auto;
    background-repeat: no-repeat;
    position: absolute;
    float: left;
    left: 20px;
    top: 10px;
    height: 50px;
    width: 100px;
}

.container{

    width: 100%;
    height: 60px;
    background:  #048C73;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    box-sizing: border-box;
    position: sticky;
    top: 0px;
}


.sintomas h2{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70px;
    text-align: justify;

}

.sintomas h4{

    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: justify;
}

h1{

    font-family: sans-serif;
    font-size: 200px;
    left: 800px; 
    top: 570px;
    padding: 0;   
    position: absolute;
}
.material-icons{

    background-image: url(../recursos/call-24px.svg);
    background-color: transparent;
    background-size: 200px;
    background-repeat: no-repeat;
    position: absolute;
    left: 600px;
    top: 720px;
    height: 200px;
    width: 200px;
    
   
}
section{

    background-color: gray;
}
.container-grid{

    margin-left: 100px;
    display: grid;
    margin-top: 740px;
    color: white;
    grid-template-columns: 500px 200px 200px;
    grid-template-rows: 300px;
    text-align: center;
}
.sintomas{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    grid-column: 1;
    grid-row: 1;
    margin-top: 40px;
    
}
.llama{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    grid-column: 1;
    grid-row: 1;
}
.columna-1{

    line-height: 100px;
}
.numero{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200px;
    grid-column: 3;
    grid-row: 1;
    margin-top: 20px;
    margin-left: 50px;
}
.telefono{

    background-image: url(../recursos/call-24px.svg);
    background-repeat: no-repeat;
    grid-column: 2;
    background-size: 200px;
    margin-top: 50px;
    margin-left: 20px;
}
a{
    color: white;
    text-decoration: none;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    margin-top: 20px;
}


.content-sup{
    height: 30vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;  
}

.col{
    padding: 20px;
    text-transform: uppercase;
    font-size: 14px;
}

.uno{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   
}

.naranja{
    color: #048C73;
}

#titulo{
    cursor: pointer;
}



.lista {
    display: flex ;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    margin-top: 20px;
}

.lista li{
    padding-top: 8px;
}



.sub{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.sub #mail{
    border-radius: 10px;
    padding: 5px;    
}

.sub #submit{
    margin-top: 10px;
    background-color: #048C73;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-style: none;
    cursor: pointer;
}
.redes{
    width: 100%;
    padding: 20px;
    
}

.redes ul{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	list-style: none;
	margin-bottom: 10px;
}

.redes li {
	background-color: #BAADAA;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	padding: 18px;
	margin-right: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.redes a{
	text-decoration: none;
	
}

#facebook {
    
	background-color: #3b5998;
}

#twitter {
	background-color:#55acee; 
}

#instagram {
	background-color: #125688;
}

#youtube{
	background-color: #bb0000;
}

#whatsapp{
	background-color: #4dc247;
}